# --- Python & System Junk ---
__pycache__/
.DS_Store

# Ignore Rosetta results & temporary files
results/rosetta_fastrelax_results/
results/rosetta_minimizeenergy_results/
rosetta_minimizeenergy_results_top5/
*.pdb.clean
*.log